* The total number of months included in the dataset.

* The net total amount of Profit/Losses over the entire period.

* The average of the changes in Profit/Losses over the entire period.

* The greatest increase in profits (date and amount) over the entire period.

* The greatest decrease in losses (date and amount) over the entire period.

In [11]:
from pathlib import Path
import pandas as pd
import csv
import numpy as np

In [3]:
csv_path = Path("./Resources/budget_data.csv")

In [5]:
df = pd.read_csv(csv_path)

In [6]:
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [7]:
# The total number of months included in the dataset.

total_months = len(df)

In [9]:
# The net total amount of Profit/Losses over the entire period.

total_profit_losses = df['Profit/Losses'].sum()
total_profit_losses

38382578

In [12]:
# The average of the changes in Profit/Losses over the entire period.

difference = np.diff(df['Profit/Losses']).mean()

In [13]:
# The greatest increase in profits (date and amount) over the entire period.

greatest_largest = df.nlargest(1,'Profit/Losses')

In [14]:
# The greatest decrease in losses (date and amount) over the entire period

greatest_decrease = df.nsmallest(1,'Profit/Losses')

In [15]:
print("Financial Analysis 1")
print("----------------------------")
print("Total months:",total_months)
print("Total profit loss:",total_profit_losses)
print("difference:",difference)
print("greatest largest:",greatest_largest)
print("greatest_decrease:",greatest_decrease)

Financial Analysis 1
----------------------------
Total months: 86
Total profit loss: 38382578
difference: -2315.1176470588234
greatest largest:         Date  Profit/Losses
25  Feb-2012        1170593
greatest_decrease:         Date  Profit/Losses
44  Sep-2013       -1196225